# App para reemplazar al macro de comercio

### Primero estamos instalando la librerias útiles

In [1]:
#con este truquito podemos instalar cosas
!pip install dbfread --proxy http://rserdan:321321++poipoi@10.1.11.50:8080
!pip install dbfpy --proxy http://rserdan:321321++poipoi@10.1.11.50:8080

Requirement already satisfied: dbfread in c:\programdata\anaconda3\lib\site-packages (2.0.7)
Requirement already satisfied: dbfpy in c:\programdata\anaconda3\lib\site-packages (2.3.1)

## Primero las librerias necesarias

In [74]:
import numpy as np
import pandas as pd
#Aqui seria bueno investigar una libreria para importar archivos con extensión .dbf, lo que vamos a hacer para importar es cambiar la 
# extensión .dbf por .xlsx

## ahora importamos los archivos que manda el INE

In [72]:
nombreArchivo = "bcb_2021nov.xlsx"
baseGrande = pd.read_excel('../data/'+nombreArchivo)
baseGrande.head(3)

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,KILNET,FINUNI,VALOR
0,2021,1,201300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,105621.14,100192.14,100192.14,601843.21
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,1212227.10,1212227.10,5378535.65
2,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,2907.42,2765.42,2765.42,17395.04

In [98]:
baseGrande.loc[:,"KILBRU":"FINUNI"]

          KILBRU      KILNET      FINUNI
0      105621.14   100192.14   100192.14
1     1266643.19  1212227.10  1212227.10
2        2907.42     2765.42     2765.42
3       24440.00    23500.00    23500.00
4       24080.00    24000.00    24000.00
...          ...         ...         ...
8763     3042.00     2585.00        0.00
8764     2305.00     2100.00        0.00
8765      538.00      457.00        0.00
8766     3253.00     3253.00        0.00
8767     1370.00     1168.00        0.00

[8768 rows x 3 columns]